In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 

df = pd.read_csv("../data/gold_price.csv")

df.head(5)

df.shape
df.columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Year                    84 non-null     int64
 1   Month                   84 non-null     int64
 2   Gold_Price_INR_per_10g  84 non-null     int64
dtypes: int64(3)
memory usage: 2.1 KB

In [ ]:
# Create a new 'Date' column by combining Year and Month columns

# Convert Year column to string
# Convert Month column to string
# Combine them in 'YYYY-MM-01' format
# '01' is used as a placeholder day since we only have monthly data

df['Date'] = pd.to_datetime(
    df['Year'].astype(str) + '-' +
    df['Month'].astype(str) + '-01'
)
df.head()

   Year  Month  Gold_Price_INR_per_10g       Date
0  2019      1                   34190 2019-01-01
1  2019      2                   34700 2019-02-01
2  2019      3                   35220 2019-03-01
3  2019      4                   35750 2019-04-01
4  2019      5                   36080 2019-05-01

In [ ]:
# Sort the data by Date to ensure correct chronological order
df.sort_values("Date")
df[['Year', 'Month', 'Date']].head()

   Year  Month       Date
0  2019      1 2019-01-01
1  2019      2 2019-02-01
2  2019      3 2019-03-01
3  2019      4 2019-04-01
4  2019      5 2019-05-01

In [4]:
df['Date'].min()
df['Date'].max()

Timestamp('2025-12-01 00:00:00')

In [ ]:
# checking null values in the dataset
df.isnull().sum()

Year                      0
Month                     0
Gold_Price_INR_per_10g    0
Date                      0
dtype: int64

In [6]:
df.columns

Index(['Year', 'Month', 'Gold_Price_INR_per_10g', 'Date'], dtype='object')

In [ ]:
# checking for duplicates in the dataset
df.duplicated().sum()

np.int64(0)

In [8]:
df.to_csv("../data/gold_price_cleaned.csv", index=False)